/.Rproj.user
/.Rhistory
/inst/doc/*
/src/*.o
/src/*.so
/src/*.dll
/tests/test_output
/tests/test_work
/tests/testthat/test_output
/tests/testthat/test_work
/tests/testthat/Rplots*.tex
/test_output
/test_work
.Rproj.user
/inst/web
